.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(57, 55, 55, 0.7);
    opacity: 0;
    transition: 0.3s ease;
    &.show {
        visibility: visible;
        opacity: 1;
    }
}
