.navbar {
    width: 264px;
    height: 100vh;
    padding: 22px 18px;
    position: fixed;
    background-color: white;
    z-index: 10;
    @media screen and (max-width: 1060px) {
        display: none;
    }
    &.show {
        display: block;
    }
    .navbar-logo {
        padding-bottom: 22px;
    }
}
