.table {
    margin-top: 30px;
    .btn-handle-ct {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        .btn-handle {
            margin-right: 16px;
            margin-bottom: 16px;
            text-align: right;
            border-radius: 4px;
            span {
                display: inline-block;
                padding: 8px 12px;
                cursor: pointer;
                color: white;
                white-space: nowrap;
            }
            &.add {
                background-color: #03c9d7;
            }
            &.export-csv {
                background-color: #4dff4d;
                span {
                    color: #404040;
                }
            }
            &.import-csv {
                background-color: #404040;
                label {
                    cursor: pointer;
                    padding-left: 8px;
                }
            }
        }
    }
    table {
        background-color: white;
        border-collapse: collapse;
        width: 100%;
    }
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    .action-cl {
        width: 200px;
    }
    .btn-action {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 620px) {
            .btn-update {
                margin-right: 0 !important;
            }
            .btn-delete {
                margin-top: 8px;
            }
        }
        .btn-update,
        .btn-delete {
            display: inline-block;
            padding: 4px 12px;
            border-radius: 4px;
            cursor: pointer;
            color: white;
        }
        .btn-update {
            background-color: #ffff1a;
            margin-right: 10px;
        }
        .btn-delete {
            background-color: #ff3333;
        }
    }
    .pagination {
        padding: 22px 0;
        text-align: center;
        span {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            margin: 0 4px;
            opacity: 0.6;
            cursor: pointer;
            &.active {
                opacity: 1;
                background-color: #e6e6e6;
            }
        }
    }
}
